#swagger-editor {
  flex: 1;
}

#swagger-editor > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.swagger-editor {
  flex: 1;
  min-height: 0;
}

.swagger-editor > section {
  height: 100% !important;
}

#editor-wrapper {
  height: 100% !important;
}

.swagger-editor #ace-editor {
  height: 100% !important;
}

.dropzone {
  display: flex;
}

.swagger-editor .SplitPane {
  flex: 1;
  height: 100% !important;
  position: static !important;
}

.swagger-ui > div {
  padding-bottom: 1px;
}

.Pane2 {
  overflow-y: auto;
}

.topbar-wrapper {
  /* overflow-x: auto; */
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 lightgray;
  min-height: 100px;
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 gray;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}
